<h1>Demoware</h1>

<div id="tilepane-container">
	<div id="tilepane">
		<p id="tile-empty">There is nothing in your application.. get cracking!</p>
		<!-- content AJAX'd in here -->
	</div>
	<a id="tile-new-link" href="#">Add</a>
	<div id="tile-new">
		<form id="new-model-form" 
					action="/framework/models" method="post" data-remote="true" data-type="text" 
					accept-charset="utf-8">
			<label for="model">Name</label>
			<input type="text" name="model" />
			<input type="submit" value="Create &rarr;">
		</form>
	</div>
	<div id="model-waiting"><img src="/images/spinner.gif" alt="waiting"/>Hold up a sec..</div>
</div>

<div id="model-editor">
	<h2>Columns</h2>
	<p id="columns-empty">There are no columns in this model.. that's pretty silly.</p>
	<ul id="columns">
		<!-- for cloning to create others.. -->
		<li id="column-template">
			<span class="column-name"></span>
			<span class="column-type"></span>
			<img src="/images/delete.gif"/>
		</li>			
		<!-- content AJAX'd in here -->
	</ul>
	<a id="column-new-link" href="#">Add</a>
	<div id="column-new">
		<form id="column-new-form" 
					action="/framework/columns" method="post" data-remote="true" data-type="json"
					accept-charset="utf-8">
			<input type="hidden" name="model" value="stub" /> <!-- changed by JS in the switchTile function -->
			<input type="text" name="column_name" />
			<select name="column_type">
				<!-- types supported by Rails: :primary_key, :string, :text, :integer, :float, :decimal, :datetime, :timestamp, :time, :date, :binary, :boolean -->
				<option value="string">single line of text</option>
				<option value="text">multiple lines of text</option>
				<option value="integer">number</option>
				<option value="decimal">currency</option>
				<option value="datetime">date and time</option>
				<option value="time">time</option>
				<option value="date">date</option>
				<option value="boolean">true/false</option>
			</select>
			<input type="submit" value="Create &rarr;">
		</form>
		<a id="column-new-cancel" href="#">cancel</a>
	</div>
	
	<h2>Associations</h2>
	<p id="associations-empty">This model doesn't have any friends.. so sad!</p>
	<ul id="associations">	
		<!-- for cloning to create others.. -->
		<li id="association-template">
			<span class="association-type"></span>
			<span class="association-target"></span>
			<img src="/images/delete.gif"/>
		</li>
		<!-- content AJAX'd in here -->
	</ul>
	<a id="association-new-link" href="#">Add</a>
	<div id="association-new">
		<form id="association-new-form" 
					action="/framework/associations" method="post" data-remote="true" data-type="text"
					accept-charset="utf-8">
			<input type="hidden" name="model" value="stub" /> <!-- changed by JS in the switchTile function -->
			<select name="association_type">
				<option value="has_many">has many</option>
				<option value="has_one">has one</option>
			</select>
			<select	name="association_target">
				<!-- changed by JS in the switchTile function -->
			</select>
			<input type="submit" value="Create &rarr;">
		</form>
		<a id="association-new-cancel" href="#">cancel</a>
	</div>
	
	<br/>
	<a id="model-remove" href="#">Destroy</a>
</div>